<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form
          class="md-float-material form-material"
          name="form"
          (ngSubmit)="
            f.form.valid && onHandleSignUp(email.value, password.value)
          "
          #f="ngForm"
          [ngClass]="{ 'was-validated': f.submitted }"
          [mustMatch]="['password', 'confirmPassword']"
          novalidate
        >
          <div class="text-center">
            <img src="assets/images/logo.png" alt="logo.png" />
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up</h3>
                </div>
              </div>
              <div class="row m-b-20">
                <div class="col-md-6">
                  <a
                    href="javascript:"
                    class="btn btn-facebook m-b-20 btn-block ripple light"
                    ><i class="fa fa-facebook"></i>facebook</a
                  >
                </div>
                <div class="col-md-6">
                  <a
                    href="javascript:"
                    class="btn btn-twitter m-b-0 btn-block ripple light"
                    ><i class="fa fa-twitter"></i>twitter</a
                  >
                </div>
              </div>
              <p class="text-muted text-center p-b-5">
                Sign up with your regular account
              </p>
              <div class="form-group form-primary">
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  [(ngModel)]="model.email"
                  [ngClass]="{
                    'is-invalid': f.submitted && email.invalid,
                    'is-valid': f.submitted && !email.invalid
                  }"
                  #email="ngModel"
                  required
                  email
                />
                <span class="form-bar"></span>
                <label class="float-label">Your Email Address</label>
                <div
                  *ngIf="f.submitted && email.invalid"
                  class="invalid-feedback"
                >
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-primary">
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      [(ngModel)]="model.password"
                      #password="ngModel"
                      [ngClass]="{
                        'is-invalid': f.submitted && password.invalid,
                        'is-valid': f.submitted && !password.invalid
                      }"
                      minlength="6"
                      required
                    />
                    <span class="form-bar"></span>
                    <label class="float-label">Password</label>
                    <div
                      *ngIf="f.submitted && password.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-primary">
                    <input
                      type="password"
                      name="confirmPassword"
                      class="form-control"
                      [(ngModel)]="model.confirmPassword"
                      #confirmPassword="ngModel"
                      [ngClass]="{
                        'is-invalid': f.submitted && confirmPassword.invalid,
                        'is-valid': f.submitted && !confirmPassword.invalid
                      }"
                      required
                    />
                    <span class="form-bar"></span>
                    <label class="float-label">Confirm Password</label>
                    <div
                      *ngIf="f.submitted && confirmPassword.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="confirmPassword.errors.required">
                        Confirm Password is required
                      </div>
                      <div *ngIf="confirmPassword.errors.minlength">
                        Password must be at least 6 characters
                      </div>
                      <div *ngIf="confirmPassword.errors.mustMatch">
                        Passwords must match
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="" />
                      <span class="cr"
                        ><i class="cr-icon fa fa-check txt-primary"></i
                      ></span>
                      <span class="text-inverse"
                        >I read and accept
                        <a href="javascript:">Terms &amp; Conditions.</a></span
                      >
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="" />
                      <span class="cr"
                        ><i class="cr-icon fa fa-check txt-primary"></i
                      ></span>
                      <span class="text-inverse"
                        >Send me the
                        <a href="javascript:">Newsletter</a> weekly.</span
                      >
                    </label>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple"
                  >
                    Sign up now
                  </button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you.</p>
                  <p class="text-inverse text-left">
                    <a [routerLink]="['/dashboard']"
                      ><b>Back to website</b></a
                    >
                  </p>
                </div>
                <div class="col-md-2">
                  <img
                    src="assets/images/auth/Logo-small-bottom.png"
                    alt="small-logo.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
