<!--<simple-notifications [options]="options"></simple-notifications>-->
<div class="page-body">
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card user-card">
        <div class="card-block text-center">
          <div class="usre-image">
            <img
              src="assets/images/avatar-4.jpg"
              class="img-radius"
              alt="User-Profile-Image"
            />
          </div>
          <h6 class="m-t-25 m-b-10">Davide Agosti</h6>
          <p class="text-muted">Web Designer</p>
          <a href="javascript:" class="text-c-red d-block">websitename.com</a>
          <a
            [routerLink]="['/user/profile']"
            class="btn btn-primary d-block ripple light"
          >
            View Profile
          </a>
          <div
            class="row justify-content-center user-social-link m-b-25 p-t-10"
          >
            <div class="col-auto">
              <a
                href="javascript:"
                data-toggle="tooltip"
                data-placement="bottom"
                title="facebook"
                ><i class="fa fa-facebook text-facebook f-20"></i
              ></a>
            </div>
            <div class="col-auto">
              <a
                href="javascript:"
                data-toggle="tooltip"
                data-placement="bottom"
                title="twitter"
                ><i class="fa fa-twitter text-twitter f-20"></i
              ></a>
            </div>
            <div class="col-auto">
              <a
                href="javascript:"
                data-toggle="tooltip"
                data-placement="bottom"
                title="dribbble"
                ><i class="fa fa-dribbble text-dribbble f-20"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <h2>Other Card</h2>
    </div>
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>To Do List</h5>
          <div class="card-header-right">
            <ul class="list-unstyled card-option">
              <li><i class="fa fa fa-wrench open-card-option"></i></li>
              <li><i class="fa fa-window-maximize full-card"></i></li>
              <li><i class="fa fa-minus minimize-card"></i></li>
              <li><i class="fa fa-refresh reload-card"></i></li>
              <li><i class="fa fa-trash close-card"></i></li>
            </ul>
          </div>
        </div>
        <div class="card-block widget-last-task">
          <div class="to-do-list">
            <div class="checkbox-fade fade-in-default">
              <label class="check-task">
                <input type="checkbox" value="" />
                <span class="cr">
                  <i class="cr-icon fa fa-check txt-default"></i>
                </span>
                <span>Check your Email</span>
              </label>
            </div>
            <div class="f-right">
              <a href="#!" class="delete_todolist"
                ><i class="fa fa-trash"></i
              ></a>
            </div>
          </div>
          <div class="right-icon-control">
            <form class="form-material">
              <div class="form-group form-primary">
                <input
                  type="text"
                  name="footer-email"
                  class="form-control"
                  required=""
                />
                <span class="form-bar"></span>
                <label class="float-label">Add Task</label>
              </div>
            </form>
            <div class="form-icon ">
              <button
                class="btn btn-primary btn-icon  waves-effect waves-light"
              >
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
